@forward "theme";

* {
  font-family: "Kosugi", Arial, Helvetica, sans-serif;
  color: var(--font);
  box-sizing: content-box;
  user-select: none;
  transition: color shadow-box 0.25s ease-in-out;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  height: 0;
}

header {
  h1 {
    font-size: 2em;
    margin: 0.5em;

    img {
      max-width: 100%;
    }
  }
}

nav {
  margin-top: 3em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  @for $i from 1 through 10 {
    .flex-grow-#{$i} {
      flex-grow: $i;
    }

    &.row-gap-#{$i} {
      gap: 1em * $i;
    }

    &.row-gap-tb-#{$i} {
      gap: 1em * $i 0;
    }

    &.row-gap-lr-#{$i} {
      gap: 0 1em * $i;
    }
  }

  .col {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

    &.col-justify-evenly {
      justify-content: space-between;
    }

    &.col-align-center {
      align-items: center;
    }

    @for $i from 1 through 4 {
      .flex-grow-#{$i} {
        flex-grow: $i;
      }

      &.col-gap-#{$i} {
        gap: 1em * $i;
      }

      &.col-gap-tb-#{$i} {
        gap: 1em * $i 0;
      }

      &.col-gap-lr-#{$i} {
        gap: 0 1em * $i;
      }
    }

    .top-label {
      padding: 1.25em 0.5em;
      flex: 0 0 90%;
    }
  }
}

.wrapper {
  $max-width: 800px;

  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  transition: background-color 0.25s ease-in-out;

  .container {
    max-width: $max-width;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media screen and (max-width: $max-width) {
      padding: 0 1em;
    }
  }
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 1.2em;
  padding: 40px 0px;
}

label.radio {
  cursor: pointer;
  display: inline-block;
  font-size: 1.25em;
  text-align: center;
  margin: 0.5em;
  padding: 0.25em 0.5em;

  &.checked {
    box-shadow:
      var(--edge-shadow) -2px -2px 4px 0px,
      var(--edge-bright) 2px 2px 4px 0px !important;
  }

  input[type="radio"] {
    display: none;
  }
}

input[type="number"] {
  user-select: text;
  font-size: 1.25em;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.625em;
  border-radius: 2em;
  box-shadow:
    var(--edge-shadow) -2px -2px 4px 0px,
    var(--edge-bright) 2px 2px 4px 0px;
  transition: box-shadow 0.15s;
  border: none;

  &:focus {
    outline: none;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    opacity: 1;
  }
}

.select-wrapper {
  position: relative;

  select {
    cursor: pointer;
    appearance: none;
    background-color: var(--background);
    font-size: 1.25rem;
    border-radius: 2rem;
    padding: 0.625rem;
    padding-right: 1.74rem;
    box-shadow:
      var(--edge-shadow) -2px -2px 4px 0px,
      var(--edge-bright) 2px 2px 4px 0px;
    transition: box-shadow 0.15s;
    border: none;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
    }

    option {
      background-color: var(--background);
    }
  }

  &::before {
    position: absolute;
    top: 1rem;
    right: 0.74rem;
    width: 0;
    height: 0;
    border-width: 10px 5px 0 5px;
    border-style: solid;
    border-color: var(--scrollbar-shadow) transparent transparent transparent;
    content: "";
    pointer-events: none;
  }
}

.radio-wrapper {
  cursor: pointer;

  input[type="radio"] {
    display: none;
  }

  label {
    margin: 0.25em;
  }
}

input[type="file"] {
  display: none;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkbox {
  // TODO: fix layout
  display: flex;
  align-items: center;
  gap: 0.5em;
  label {
    display: inline-block;
    cursor: pointer;
  }

  input[type="checkbox"] {
    appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    background: var(--background);
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    margin: 0;
    padding: 0;

    &:checked {
      background: #3498db;
    }

    &:checked::after {
      content: "\2714";
      font-size: 1.25em;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
    }
  }
}

.box {
  padding: 1em;
  box-shadow:
    var(--edge-shadow) 6px 6px 10px 0px,
    var(--edge-bright) -6px -6px 10px 0px;
  border-radius: 0.5em;
  display: inline-block;
  position: relative;
  transition: box-shadow 0.25s;
  text-decoration: none;

  &.block {
    display: block;
  }

  &.circle {
    border-radius: 2em;
    text-align: center;
  }

  &.hover:hover {
    box-shadow:
      var(--edge-shadow) 2px 2px 4px 0px,
      var(--edge-bright) -2px -2px 4px 0px;
  }

  &.active:active {
    box-shadow:
      var(--edge-shadow) -2px -2px 4px 0px,
      var(--edge-bright) 2px 2px 4px 0px;
  }
}

.box-reverse {
  background-color: rgba(255, 255, 255, 0);
  padding: 1em;
  box-shadow:
    var(--edge-shadow) -2px -2px 4px 0px,
    var(--edge-bright) 2px 2px 4px 0px;
  border-radius: 0.5em;
  transition: box-shadow 0.15s;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &.block {
    display: block;
  }

  &.circle {
    border-radius: 2em;
    text-align: center;
  }
}

.big {
  font-size: 1.5em;
}

.pointer {
  cursor: pointer;
}

.droppable {
  cursor: copy;
}

.selectable-all {
  user-select: all;
}

.close-btn {
  position: absolute;
  right: 1em;
  font-size: 1.25em;
}

.btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid-list {
  display: grid;
  position: relative;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.block {
  display: block;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@for $i from 0 through 5 {
  .margin-#{$i} {
    margin: 1em * $i;
  }

  .margin-t-#{$i} {
    margin: 1em * $i 0 0 0;
  }

  .margin-tb-#{$i} {
    margin: 1em * $i 0;
  }

  .margin-b-#{$i} {
    margin-bottom: 1em * $i;
  }

  .margin-lr-#{$i} {
    margin: 0 1em * $i;
  }

  .padding-#{$i} {
    padding: 1em * $i;
  }

  .padding-t-#{$i} {
    padding: 1em * $i 0 0 0;
  }

  .padding-tb-#{$i} {
    padding: 1em * $i 0;
  }

  .padding-b-#{$i} {
    padding-bottom: 1em * $i;
  }

  .padding-lr-#{$i} {
    padding: 0 1em * $i;
  }
}

.scroll {
  overflow: auto;
}

// ---------------------------------------------------------------

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// ---------------------------------------------------------------

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px var(--scrollbar-shadow);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
  box-shadow: none;
}
