name: Pull Request Check

on:
  pull_request:
    branches: [main]

jobs:
  test:
    uses: ./.github/workflows/ci-common.yaml
    with:
      with-coverage: false
      with-e2e: false
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}